<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joaomadeira.android.appddm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--
    mais ou menos mandatório : em teoria a API exige, mas se se exigir a feature
    excluem-se todos os dispositivos sem este suporte OpenGL
    -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD7kWSYcOVbiHTSN_HfO28Edb6NW8Xs9TE" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainCliente"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainCondutor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MapLocalizacao"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainLavandaria"
            android:screenOrientation="portrait" />
        <!--
        <activity android:name=".ReqServ1"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReqServ2"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReqServ3"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReqServ4"
            android:screenOrientation="portrait"/>
        <activity android:name=".FormPay"
            android:screenOrientation="portrait"/>
        <activity android:name=".Pay"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainMap"
            android:screenOrientation="portrait"/>
        -->
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->


        <!--
            <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        -->
        <activity android:name=".LavandariaRoupaRecebida"></activity>
    </application>

</manifest>